.botonEliminar{
    height: 40px;
    width: 120px;
}
.containerBotonEliminar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eaf0ea;
}