*{
    font-family: "font-formal", 'Courier New', Courier, monospace;
    color: #eaf0ea;
}
body{
    background: #000026;
}
@font-face {
    font-family: "font-formal";
    src: url(./font/GlacialIndifference-Regular.otf);
}